#navigation {
  border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  margin-bottom: 0px;
}

.jumbotron {
	background-image: url("http://www.stargatecinema.com/images/T/t_89208-125.jpg");
	color: white;
	margin-bottom: 0px;
}

.jumbotron h1 {
	font-family: 'Pacifico', cursive;
}
.search { 
	background-image: url("../img/sos.png");
}

#poster img {
	position: relative;

}

.results {
	background-image: url("../img/office.png");
}

.results h2 {
	color: #A00000 ;
}

.results p {
	color: #F8F8F8;
}

.table {
	position: relative;
	top: 20px;
}

table, th, td {
   border: 1px solid grey;
}
