<!doctype html>
<html>
  <head>
    <script src="js/vendor/angular.min.js"></script>
     <link href="css/bootstrap.min.css" rel="stylesheet" />
     <link href="css/main.css" rel="stylesheet" />

     <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
  </head>

  <body ng-app="myApp" ng-controller="AppController">
    <div class="navbar navbar-inverse" id="navigation">
      <div class="container">
        <a class="navbar-brand" href="#">Box1</a>
      </div>
    </div>

    <div class="jumbotron">
      <div class="container">
            <div class="col-md-6 col-md-offset-3 text-center">
        <h1>Welcome to Box1</h1>
        <p>Your first and last stop for up to date reviews on your favourite film and TV shows</p>
         </div>
      </div>
    </div>
   

    <div class="search">
      <div class="container">
        <div class="col-md-6 col-md-offset-3 text-center">
          <h3>Your reviews in an instant</h3>
          <form ng-submit="addItem()">
            <input type="text" placeholder="Enter movie here" ng-model="itemToAdd"/>
            <input type="submit" value"add">
          </form>
          <br>
        </div>
      </div>
    </div>

    <div class="results" ng-show="itemToAdd">
      <div class="container">

        <div class="col-md-4" id="poster">
          <img ng-src="{{movie.Poster}}"> 
        </div>
        <div class="col-md-5">
          <h2>{{movie.Title}}</h2>
          <p>{{movie.Runtime}}  -  {{movie.Genre}}</p>
          <p>{{movie.Plot}}</p>
          <p>Actors: {{movie.Actors}}</p>
          <br>
          <p>Metascore: {{movie.Metascore}}</p>
          <p>IMDb Rating: {{movie.imdbRating}}</p>
        </div>
        <div class="col-md-3">
          <table class="table">
            <tr>
              <td><p>Category: {{movie.Type}}</p></td>
            </tr>
            <tr>
              <td><p>Released: {{movie.Released}}</p></td> 
            </tr>
            <tr>
              <td><p>Director: {{movie.Director}}</p></td>
            </tr>
            <tr>
              <td><p>Rated: {{movie.Rated}}</p></td>
            </tr>
          </table>
        </div>
      </div>
    </div>



    
    
    
    
    
    

    


    <!-- Modules -->
    <script src="js/app.js"></script>

    <!-- Controllers -->

    <!-- Directives -->

  </body>
</html>